<!doctype html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" type="text/css" href="static/madlibs.css">
</head>
<body>
    <h3>Let's do Madlibs!</h3>
    <form action="/madlib">
        Enter your name:
        <input type="text" name="person"><br>
        Enter a color:
        <input type='text' name='color' class='something'><br>
        Enter a noun:
        <input type='text' name='noun' class='something'><br>
        Enter an adjective:
        <input type='text' name='adjective'>
        <br><input type='submit' value='submit'>
    </form>
</body>
</html>