<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <h3>Let's do Madlibs!</h3>
    <form action="/madlib">
        Enter your name:
        <input type="text" name="person" value='name'><br>
        Enter a color:
        <input type='text' name='color' value='color'><br>
        Enter a noun:
        <input type='text' name='noun' value='noun'><br>
        Enter an adjective:
        <input type='text' name='adjective' value='adjective'>
        <br><input type='submit' value='submit'>
    </form>
</body>
</html>