<!doctype html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" type="text/css" href="static/madlibs.css">
</head>
<body>
    <h3>Let's do Madlibs!</h3>
    <form action="/madlib">
        <label>Enter your name:</label>
        <input type="text" name="person"><br>
        <label>Enter a color:</label>
        <input type='text' name='color' class='something'><br>
        <label>Enter a noun:</label>
        <input type='text' name='noun' class='something'><br>
        <label>Enter an adjective:</label>
        <input type='text' name='adjective'>
        <br><br><input type='submit' value='Submit'>
    </form>
</body>
</html>